body
{
    background-color: rgb(25,25,25);
    color: white;
    font-family: Arial;
}
.css-title
{
  font-size: 30px;
  font-weight: bold;
}
.css-move-icon
{
  height: 50px;
}
.css-move-button
{
  background-color: transparent; 
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.css-result
{
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.css-score
{
  margin-top: 30px;
}
.css-reset-score-button,
.css-autoPlayButton,
.css-stopAutoPlay
{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}