body
{
  font-family: Arial;
  
}



.css-toDoGrid,
.css-toDoInputGrid
{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.css-toDoInputGrid
{
  margin-bottom: 10px;
  align-items: stretch;
}

.css-input,
.css-dueDateInput
{
  font-size: 15px;
  padding: 6px;

}

.css-dueDateInput
{
  cursor: pointer;
}

.css-addButton
{
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.css-deleteButton
{
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
}